.App {
  text-align: center;
}

.main-content {
  margin-left: 260px;
  background-color: #f5f8fb;
  height: 100vh;
}


.alert {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}