
  .registerForm > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
 .registerForm button {
    background: #0563b4 !important;
  }
 .registerForm  p {
    color: red;
  }